# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
logs/
*.log
